// $corPrincipal: #3F51B5;
// $corPrincipal: #009688;
$corPrincipal: #2870A2;
// $fundo1: #1D212A;
$fundo1: #3d3d3d;
$fundo2: #2b2b2b;
$fundo3: #303030;
$fundo4: #fafafa;
$radius1: 6px;
$radius2: 2px;

* {
	font-family: muli;

	img {
		width: 50px;
	}
}

#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    .lds-dual-ring {
		width: 60px;
		height: 60px;

    	&:after {
			width: 48px;
			height: 48px;
    	}
    }
}

#centro {
	display: flex;
	height: 100vh;
	// cursor: pointer;

	aside#contatos {
		// background: $fundo1;
		position: relative;
		z-index: 2;
		// box-shadow: 0 0 5px rgba(0,0,0,.4);
		border-right: 1px solid rgba(0,0,0,.075);
	}
}

#logo {
	width: 20px;
	display: block;
	margin: 10px auto;
	padding: 8px;
}

#labels {
	display: none;
}

#grupos {
	list-style: none;

	.contato {
		position: relative;
		display: block;
		padding: 6px;
		margin-bottom: 8px;
		margin-left: 4px;
		box-sizing: border-box;
		border-radius: 10px 0 0 10px;
		// background: $fundo1;
		// border-color: $fundo1;

		img {
			width: 32px;
			display: block;
			margin: auto;
			border-radius: 12px;
		}

		.dados {
			background: inherit;
			border-color: inherit;

			h3 {
				position: absolute;
				left: 100%;
				top: 0;
				bottom: 0;
				margin: auto;
				background: inherit;
				min-width: 200px;
				border-radius: 0 $radius2 $radius2 0;
				color: white;
				font-size: 1em;
				display: none;
				align-items: center;
				padding: 0 10px;
				justify-content: center;

				span.hora {
					display: none;
				}
			}

			p {
				display: none;
			}

			.qtd-msg {
				position: absolute;
				top: 60%;
				right: 0%;
				background: $corPrincipal;
				color: white;
				display: none;
				font-size: .7em;
				font-weight: bold;
				min-width: 15px;
				height: 15px;
				text-align: center;
				border-radius: 15px;
				padding: 2px;
				border: 3px solid;
				border-color: inherit;
			}
		}

		&.nova {
			.qtd-msg {
				display: block;
			}
		}

		&.selecionado {
			background: $fundo2;
			border-color: $fundo2;

			h3 {
				border-radius: 0 10px 10px 0;
			}
		}

		&.geral:before {
			content: "";
			position: absolute;
			bottom: -3px;
			width: 100%;
			left: 0;
			border-top: 1px dashed rgba(255,255,255, 0.4);
		}

		&:hover {
			cursor: pointer;
			&:not(.selecionado) {
				background: $fundo3;
				border-color: $fundo3;
			}

			h3 {
				display: flex;
				box-shadow: 1px 1px 5px rgba(0,0,0,.5);
				z-index: -1;
			}
		}
	}
}

#botoes {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	i {
		display: flex;
		width: 35px;
		height: 35px;
		align-items: center;
		justify-content: center;
		margin: 0 auto 7px;
		border-radius: 50px;
		// color: white;
		opacity: .5;

		&:hover {
			color: white;
			background-color: $corPrincipal;
			cursor: pointer;
			opacity: 1;
		}
	}

	#menu {
		display: none;

		li {

		}
	}
}

#chat {
	min-width: 450px;
	width: 450px;
	height: 100%;
	overflow: hidden;
	border-right: 1px solid rgba(0,0,0,.075);
	position: relative;

	> header {
		background: #ffffff;
		padding: 10px 14px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		position: relative;
	    z-index: 1;

		#quem {
			display: flex;
			align-items: flex-start;

			img {
				width: 35px;
				border-radius: 10px;
				margin-right: 10px;
			}

			div {
				// color: white;
				cursor: pointer;

				h3 {
					font-size: 1em;
					opacity: .9;
				}

				p {
					font-size: .7em;
					opacity: .5;
					margin-top: 3px;
				}
			}
		}

		div#acoes {
			
			i {
				opacity: .5;
				font-size: .8em;
				margin-left: 3px;
				width: 32px;
				height: 32px;
				border-radius: 50px;
				/* background: red; */
				display: inline-flex;
				justify-content: center;
				align-items: center;

				&:hover {
					background: $corPrincipal;
					color: white;
					cursor: pointer;
					opacity: 1;
				}
			}
		}
	}

	#mensagens {
		background: $fundo4;
		padding: 10px;
		box-sizing: border-box;
		height: calc(100% - 98px);

		ul {
			list-style: none;
			margin-top: 10px;
			width: 100%;

			&.minha {
				direction: rtl;

				.mensagem {
					background: $corPrincipal;

					* {
						color: white;
					}

					&:first-child {
						border-bottom-right-radius: $radius2;
						margin-bottom: 3px;
					}

					&:last-child {
						border-top-right-radius: $radius2;
					}

					&:not(:first-child):not(:last-child) {
						border-radius: $radius1 $radius2 $radius2 $radius1;
						margin-bottom: 3px;
					}

					.data {
						left: unset;
						right: 101%;
					}
				}
			}

			&.outra {
				.mensagem {
					background: white;

					&:first-child {
						border-bottom-left-radius: $radius2;
						margin-bottom: 3px;
					}

					&:last-child {
						border-top-left-radius: $radius2;
					}

					&:not(:first-child):not(:last-child) {
						border-radius: $radius2 $radius1 $radius1 $radius2;
						margin-bottom: 3px;
					}

					&:only-child {
						border-radius: $radius1
					}

					&:first-child header {
						display: block;
					}
				}
			}

			.mensagem {
				padding: 10px;
				border-radius: $radius1;
				box-sizing: border-box;
				font-size: .8em;
				max-width: 80%;
				display: table;
				cursor: default;
				position: relative;
				box-shadow: 0 0 5px rgba(0,0,0,.2);

				* {
					// font-family: muli
				}

				header {
					font-weight: bold;
					margin-bottom: 5px;
					display: none;
				}

				article {
					text-align: justify;

				}

				> img {
					width: 100%;
					border-radius: $radius1;
					display: block;
					margin-bottom: 10px;
				}

				span.data {
					position: absolute;left: 101%;
					border-radius: $radius2;
					top: 0;
					box-shadow: inherit;
					background: inherit;
					padding: 5px 8px;
					opacity: 0;
					font-size: .8em;
				}

				&:hover .data {
					opacity: .75;
				}

				&.tarefa {
					border-left: 2px solid $corPrincipal;
					// box-shadow: none;
					// filter: drop-shadow(0 0 2px rgba(0,0,0,.2));

					.detalhes {
					    background: white;
					    border-radius: inherit;
					    // padding: 10px;
					    box-sizing: border-box;
					    display: flex;
					    align-items: center;

						.prazo {
						    border-right: 1px dashed rgba(0,0,0,.1);
						    padding-right: 8px;
						    text-align: center;
						    font-weight: bold;
						    font-size: 1.1em;
						    margin-right: 8px;
						    color: $corPrincipal;

							.dia {
								
							}

							.mes {

							}
						}

						.conteudo {
							text-align: justify;
						}

						img {
						    position: absolute;
						    left: 102%;
						    border-radius: $radius1;
						    width: 35px;
						    bottom: 0;
						    // top: 0;
						    // margin: auto;
						}
					}
				}
			}
		}

		.divisao-dia {
			position: relative;
			margin-top: 10px;
			z-index: 1;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 50%;
				width: 100%;
				border-top: 1px solid rgba(0,0,0,0.1);
				z-index: -1;
			}

			span {
				text-align: center;
				font-size: .8em;
				margin: auto;
				padding: 7px 12px;
				/* border-radius: var(--radius2); */
				background: #fafafa;
				display: table;
				font-weight: bold;
			}
		}

		.aviso {
		    font-size: .8em;
		    display: table;
		    margin: 15px auto;
		    padding: 6px 10px;
		    background: #2b2b2b;
		    border-radius: 2px;
		    color: white;
		    opacity: .4;
		    font-family: encode sans;
		}

		.loading {

		}
	}

	#enviar-mensagem {
		display: flex;
		align-items: center;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		z-index: 1;

		textarea {
			background: white;
			resize: none;
			padding: 13px 10px;
			box-sizing: border-box;
			width: 100%;
			font-size: .775em;
			overflow: hidden;
		}

		i {
			color: $corPrincipal;
			// color: #3F51B5;
			/* background: #3F51B5; */
			/* position: absolute; */
			/* right: 10px; */
			/* bottom: 30%; */
			/* width: 40px; */
			/* height: 40px; */
			border-radius: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); */
			margin-right: 15px;
		}
	}
}

#direita {
	width: 100%;
	overflow: auto;
	background: $corPrincipal;

	#tarefas {
		display: flex;
		align-items: flex-start;
		min-width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
		height: 100vh;

		.coluna {
			margin: 10px;
			margin-right: 0;
			min-width: 250px;
			width: 32%;
			position: relative;

			h2 {
				font-size: .8em;
				padding: 12px 17px 22px;
				// border: 1px solid rgba(0,0,0,.15);
				box-shadow: 0 1px 3px rgba(0,0,0,.1);
				margin-bottom: 10px;
				// background-color: rgba(0,0,0,.3);
				background-color: rgba(255,255,255,.3);
				width: 100%;
				box-sizing: border-box;
				color: white;
				text-transform: uppercase;
				position: relative;
				border-radius: 2px;

				span {
					font-size: .7em;
					position: absolute;
					left: 17px;
					bottom: 10px;
					opacity: .75;
				}
			}

			ul {
				list-style: none;
				
				.nova-tarefa {
					position: absolute;
					top: 8px;
					right: 10px;
					width: 35px;
					height: 35px;
					border-radius: 50px;
					font-size: 16px;
					color: white;
					background: transparent;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.0);

					&:hover {
						color: $corPrincipal;
						background: white;
						box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
					}
				}

				.tarefa {
					cursor: pointer;
					position: relative;
					// overflow: hidden;
					// border: 1px solid rgba(0,0,0,.075);
					box-shadow: 0 1px 3px rgba(0,0,0,.2);
					// background: $fundo4;
					background: white;
					margin-bottom: 10px;
					border-radius: $radius2;
					
					.detalhes {
						display: flex;
						align-items: flex-start;
						padding: 15px 10px 25px 10px;
						position: relative;
						flex-wrap: wrap;

						label {
							padding: 2px;
							border-radius: var(--radius2);
							border: 2px solid var(--cinzaBorda);
							margin-right: 10px;
							display: flex;
							justify-content: center;
							align-items: center;
							cursor: pointer;

							i {
								font-size: 8px;
								color: transparent;
							}
						}

						h4 {
							color: var(--pretoLetra);
							font-size: .85em;
							text-align: justify;
							width: 88.5%;
						}

						img {
							width: 100%;
							border-radius: $radius1;
							margin-top: 10px;
						}

						i.excluir {
							position: absolute;
							font-size: 15px;
							top: 17px;
							padding: 2px;
							color: var(--tarefaVermelha);
							opacity: 0;
							right: -10px;
						}

						span.data {
							position: absolute;
							right: 5px;
							bottom: 5px;
							font-size: .65em;
							opacity: .4;
						}
					}

					.acoes {
						border-top: 1px solid rgba(0,0,0,.075);
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding: 10px;
						position: relative;

						.usuario {
							display: flex;
							align-items: center;
							position: relative;

							img {
								width: 25px;
								border-radius: 10px;
							}

							span {
								font-weight: bold;
								cursor: pointer;
								padding: 5px;
								border-radius: $radius2;
								background: $fundo1;
								color: white;
								font-size: .8em;
								position: absolute;
								left: 0px;
								top: 110%;
								z-index: 1;
								opacity: 0;
							}

							&:hover {
								span {
									opacity: 1
								}
							}

						}
						
						> div {
							i {
								font-size: .8em;
								padding: 5px;
								// background: black;
								
								width: 15px;
								height: 15px;
								border-radius: 3px;
								display: inline-flex;
								justify-content: center;
								align-items: center;

								&.excluir {
									color: #FF5722;

									&:hover {
										background: #FF5722;
										color: rgba(0,0,0,.4);
									}
								}

								&.editar {
									color: #FFBC3C;

									&:hover {
										background: #FFBC3C;
										color: rgba(0,0,0,.4);
									}
								}
							}
						}
					}

					&.marcada {
						opacity: .7;

						label {
							border-color: $corPrincipal;
							background-color: $corPrincipal;
							opacity: .5;

							i {
								color: white;
							}
						}

						h4 {
							color: var(--cinzaLetra);
							text-decoration: line-through;
						}
					}

					&.azul:after {
						border-left-color: var(--tarefaAzul);
						border-bottom-color: var(--tarefaAzul);
						/*box-shadow: inset 2px 0 0 var(--tarefaAzul);*/
					}

					&.vermelha:after {
						border-left-color: var(--tarefaVermelha);
						border-bottom-color: var(--tarefaVermelha);
						/*box-shadow: inset 2px 0 0 var(--tarefaVermelha);*/
					}

					&.amarela:after {
						border-left-color: var(--tarefaAmarela);
						border-bottom-color: var(--tarefaAmarela);
						/*box-shadow: inset 2px 0 0 var(--tarefaAmarela);*/
					}

					&.verde:after {
						border-left-color: var(--tarefaVerde);
						border-bottom-color: var(--tarefaVerde);
						/*box-shadow: inset 2px 0 0 var(--tarefaVerde);*/
					}

					&:after {
						/*content: "";*/
						position: absolute;
						bottom: 0;
						left: 0;
						width: 0;
						height: 0;
						border: 7px solid transparent;
					}
				}
			}

			&.nova {
				opacity: .6;
				transition: .3s ease;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}